<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tabla</title>
    <meta name="viewport" content=" width=device-width,initial-scale=1.0">

</head>
<body>
    <h1>Tablas</h1>

    <table>
        <tr>
            <td>#</td>
            <td>Codigo</td>
            <td>Estudiante</td>
        </tr>
        <tr>
            <td>1</td>
            <td>AM24003</td>
            <td>Maria Teresa Ayala Martinez</td>
        </tr>
        <tr>
            <td>2</td>
            <td>TM24004</td>
            <td>Rosa Maria Toledo Mesa </td>
        </tr>
        <tr>
            <td>3</td>
            <td>MD24005</td>
            <td>Tamara Beatriz Mejia Diaz</td>
        </tr>

    </table>

    <br>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Codigo</th>
                <th>Estudiante</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>AM24003</td>
                <td>Maria Teresa Ayala Martinez</td>
            </tr>
            <tr>
                <td>2</td>
                <td>TM24004</td>
                <td>Rosa Maria Toledo Mesa </td>
            </tr>
            <tr>
                <td>3</td>
                <td>MD24005</td>
                <td>Tamara Beatriz Mejia Diaz</td>
            </tr>
        </tbody>
    </table>

    <!--direccionamiento-->
    <br>
    <a href="../index.html">Regresar al inicio</a>

</body>
</html>